#set($layout = "layout/empty.vm")
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>用户列表</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a href="table_basic.html#" data-toggle="dropdown" class="dropdown-toggle">
                <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="table_basic.html#">选项1</a>
                </li>
                <li><a href="table_basic.html#">选项2</a>
                </li>
            </ul>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">

        <table class="table table-bordered table-striped table-hover  dataTable">
            <thead>
            <tr>
                <th>#</th>
                <th>邮箱</th>
                <th>密码</th>
                <th>日期</th>
            </tr>
            </thead>
            <tbody>
            #foreach($user in $users)
                <tr>
                    <td>$!{velocityCount}</td>
                    <td>$!user.email</td>
                    <td>$!user.password</td>
                    <td>$!dateUtil.getFormatDateTime($!user.created)</td>
                </tr>
            #end
            </tbody>
        </table>
##        <div class="text-center">
##            <div class="btn-group">
##                #ajaxShowPage($users)
##            </div>
##        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_info" id="editable_info" role="alert" aria-live="polite" aria-relevant="all">显示 1
                    到 10 项，共 57 项
                </div>
            </div>
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_simple_numbers" id="editable_paginate">
                    <ul class="pagination">
                        <li class="paginate_button previous disabled" aria-controls="editable" tabindex="0"
                            id="editable_previous"><a href="#">上一页</a></li>
                        <li class="paginate_button active" aria-controls="editable" tabindex="0"><a href="#">1</a></li>
                        <li class="paginate_button " aria-controls="editable" tabindex="0"><a href="#">2</a></li>
                        <li class="paginate_button " aria-controls="editable" tabindex="0"><a href="#">3</a></li>
                        <li class="paginate_button " aria-controls="editable" tabindex="0"><a href="#">4</a></li>
                        <li class="paginate_button " aria-controls="editable" tabindex="0"><a href="#">5</a></li>
                        <li class="paginate_button " aria-controls="editable" tabindex="0"><a href="#">6</a></li>
                        <li class="paginate_button next" aria-controls="editable" tabindex="0" id="editable_next"><a
                                href="#">下一页</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>